*{
    margin: 0;
    padding: 0;
    
}
body{
}

.header{
   overflow: hidden;
   font-family: sans-serif;
   font-weight: 500px;
   margin: 25px;

}

.navbar {
    justify-content: space-between;

}
.navbar img ul li{
    display: inline;
}

.img{
   height: 29.46px;
   width: 167.02px;
   
}

.ul{
    float: right;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 25px;
}
li{
    display: inline-block;
    text-decoration: none;
    float: left;
    padding-right: 25px;
    list-style-type:none;
}
body{
    background-image: url(Object.png);
}

.firstSection {
    text-align: center;
    display: flex;
    flex-direction: column;

    

}
.schooledMenu{
    justify-content: center;
    display: block;
    margin-top: 80px;
}
.schooledTitle{
    font-size: 120px;
    color: white;
    align-self: center;
    justify-content: center;
}
.schooledActn{
    align-self: center;
    justify-content: space-between;
    padding: 50px 50px;
    color: white;
    margin: 25px;
}
.schooledBtn{
    text-align: center;
    padding: 25px;
    margin: 25px;
    margin-bottom: 100px;
    background-color: #C271FF;
    color: white;
    border-radius: 30px;
    border: none;

}

.learn{
    color: white;
}

.lrnWrd{
    color: #C271FF;
}
.thePros{
    display: flex;
    justify-content: space-between;
    margin: 24px;
    color: white;
    padding: 80px;
}
.proImg{
    border-radius: 50%;
    height: 70px;
    width: 70px;

}
.secondSection{
    background-color: #C271FF;
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    padding: 30px;

}
.secondQuote{
    color: white;
    margin: 25px;
    height: 70px;
    width: 500px;
}

.thirdSection{
    background-color: white;
    align-items: center; 
}
.thirdHeader{
    text-align: center;
    padding: 30px;

}
.thirdtutorials{
    justify-content: center;
    padding: 5px;
   
    
}
.tuts{
    display: flex;
    justify-items: center;
    color:black;
   
}

.eachTut{
    padding: 25px;
    margin: 5px;
    width: auto;
}
.mainBox{
    position: relative;
    
}
.playBox{
    position: absolute;
    top: 50px;
    left: 100px;
}

.phillRev{
    display: flex;
    flex-wrap: nowrap;
    width: 5px;
    align-items: center;
    justify-content: space-between;

}

.philImg{
   width: 30px;
   padding: 25px 0;
}

.philltxt{
    display: inline;
    white-space: nowrap;
    text-align: justify;
    min-width: 75%;
    color: #C271FF;
    padding: 25px;
    width: 100px;
}
.rating{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    color: #C271FF;
}
.greystar{
    color: rgb(97, 97, 97);
}

.time{
    color: #C271FF;
}

.fourthSection{
    background-color: rgb(07, 16, 29);
}
.ftSctnTtl{
    text-align: center;
    color: white;
    padding: 30px;
}
.ftSctnCntnt{
    display: flex;
    color: white;
    padding: 25px;
}
.ftSctnRegBtn{
    text-align: center;
    color: white;
    background-color: rgb(07, 16, 29);
}
.mbshpcrd{
    text-align: center;
    padding: 25px;
    
}
.smile{
    
    padding: 25px;
}
.lorem{
    padding: 25px;
}
.loremP{
    text-align:justify;
    letter-spacing: 0px;
}
.qns{
    text-align: center;
    padding: 25px;

}
.faqSctn{
    background-color: white;
}
.wholeQn{
    display: flex;
    padding: 25px;
}
.eachQn{
  
}
.indQn{
    padding: 25px;
    margin: 5px;
}
.indAns{
   padding: 0 25px;
   
  
}
.endPoint{
    background-color: rgb(07, 16, 29);
}
.footerSctn{
    display: flex;
    padding: 25px;
    justify-content: space-between;
}
.iconSM{
    color: white;
    float: right;
    
}   
.copyright{
    color: white;
    text-align: center;
} 
